@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0 
    padding 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: peachpuff;
}
::selection{
    color: aliceblue;
    background-color: blanchedalmond;
}
.container {
    padding: 2rem 3rem;
    border-radius: 14px;
    background: papayawhip;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.displayImage{
    display: flex;
    column-gap: 7rem;
}
.container.start .userResult{
    animation: userShake 0.7s ease infinite;
}

.iconImage:active {
    animation: userShake 2s;
}
@keyframes userShake {
    50% {
        transform: translate(-1px, 2px) rotate(50deg);
    }
}

.displayImage img{
    width: 100px;

}

.userResult img{
    transform: rotate(90deg) rotateY(180deg);
}
.cpuResult img{
    transform: rotate(-90deg);
}

.result{
    text-align: center;
    font-size: 2rem;
    color: peru;
    margin-top: 1.5rem;
}

.iconImage img{
    width: 50px;
}

.optionImages {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;

}
.container.start .optionImages{
    pointer-events: none;
}

.iconImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.iconImage:hover{
    opacity: 1;
}
.iconImage.active{
    opacity: 1;
}

.iconImage img{
    pointer-events: none;
}


.iconImage p{
    color:peru;
    font-size: 1.235rem;
    margin-top: 1rem;
    pointer-events: none;
}